@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Great+Vibes&family=Italianno&family=Lobster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: "Raleway", sans-serif;
    }

    body {
        height: 100vh;
        background-color: black;
    }

    nav>ul>li>p {
        font-family: "Lobster";
    }

    p.ben {
        font-family: 'Great Vibes', Courier, monospace;
    }

    p.end {
        font-family: 'Italianno', Courier, monospace;
    }

    section {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
            url("https://i.ibb.co/5WFGn1D/2414gta.webp");
    }

    footer {
        font-family: "Crimson Text";
    }
}

@layer components {
    .btn {
        @apply cursor-pointer text-3xl text-[#fea742] transition-all duration-700 hover: text-[#b2742e] md:text-4xl
    }

    .homebtn {
        @apply cursor-pointer text-4xl text-[#fea742] transition-all duration-700 hover: text-[#b2742e] md:text-5xl
    }

    .active {
        @apply border-b-4 border-[#db8c32ce]
    }
}