@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Great+Vibes&family=Italianno&family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: "Raleway", sans-serif;
    }

    body {
        height: 100vh;
        background-color: black;
    }

    nav>ul>li>p {
        font-family: "Lobster";
    }

    p.ben {
        font-family: 'Great Vibes', Courier, monospace;
    }

    p.end {
        font-family: 'Italianno', Courier, monospace;
    }

    section {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
            url("https://i.ibb.co/5WFGn1D/2414gta.webp");
    }


}