@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&family=Great+Vibes&family=Italianno&family=Lobster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: "Raleway", sans-serif;
    }

    body {
        background-color: black;
        display: flex;
        flex-direction: column;
    }

    nav>ul>li>p {
        font-family: "Lobster";
    }

    p.ben {
        font-family: 'Great Vibes', Courier, monospace;
    }

    p.end {
        font-family: 'Italianno', Courier, monospace;
    }

    section {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)),
            url("https://i.ibb.co/5WFGn1D/2414gta.webp");
    }

    footer {
        font-family: "Crimson Text";

    }

    .the {
        font-family: "Italianno", 'Courier New', Courier, monospace;
    }

    .menu {
        font-family: "Crimson Text"
    }
}

@layer components {
    .btn {
        @apply cursor-pointer text-3xl text-[#fea742] transition-[color] duration-700 hover:text-[#b2742e] md:text-4xl
    }

    .homebtn {
        @apply cursor-pointer text-4xl text-[#fea742] transition-[color] duration-700 hover:text-[#b2742e] md:text-5xl
    }

    .active {
        @apply border-b-4 border-[#db8c32ce]
    }

    .main-head {
        @apply uppercase menu md:text-4xl tracking-widest text-orange-600 py-2 border-b-4 border-b-orange-800 font-bold my-3 w-fit h-12
    }

    .dishes {
        @apply text-amber-500 menu text-2xl tracking-normal
    }
}